:root {
    /* colors */

    --white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
}

body {
    background-color: var(--slate-300);
    font-family: Outfit, Arial, Helvetica, sans-serif;  
    display: grid; 
    place-items: center; /*align-items + justify-items */
    min-height: 100vh;
    margin: 0;
}

h1 {
    font-size: 1.3rem;
    color: var(--slate-900);
    margin: 0.8rem;
}

p {
    font-size: 1rem;
    color: var(--slate-500);
    margin: 1rem;
}

main {
    text-align: center;
    display: grid;
}

.attribution { 
    font-size: 1.3vh; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}

.shape {
    height: 27rem;
    width: 18rem;
    background-color: var(--white);
    flex-shrink: 0;
    flex-grow: 0;
}

.qr-code {
    width: 90%;
    margin-top: 5%;
    display: inline-block;
}

.rounded-corner {
    border-radius: 0.7rem;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}